auto-save-list
elpa
.DS_Store
srecode-map.el
ido.last
recentf
.last-package-update-day
abbrev_defs
lisp/.DS_Store
network-security.data
.cask/
lisp/tmpklUnLY
org-clock-save.el
eshell/
.cider-history
projectile-bookmarks.eld
emms/
bookmarks
url/
eww-bookmarks
.cache/
nov-places