.DS_Store
.cache/
.cask/
.cider-history
.last-package-update-day
abbrev_defs
ac-comphist.dat
auto-save-list/
bookmarks
emms/
eshell/
eww-bookmarks
history
ido.last
network-security.data
nov-places
org-clock-save.el
projectile-bookmarks.eld
pyim/
recentf
request/
url/
lisp/.DS_Store
srecode-map.el
backups/
elpa/
.persistent-scratch
elfeed.org
Cask
scimax/
straight/